.block{
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: aqua;
  border-radius: 50%;
  position: relative;
  margin: auto;
  border: 2px solid white;
}
.block{
  &:before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: timing 60s infinite steps(60);
    transform-origin: 1px;
  }
}
.block{
  &:after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: timing 10s infinite steps(100);
    transform-origin: 1px;
  }
}


@keyframes timing {
  100%{
    transform: rotate(360deg);
  }
}
